<launch>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <!-- <arg name="world_name" value="$(find rm_gazebo)/worlds/rmuc.world"/>-->
  </include>
    <arg name="model" default="$(find infantry2)/urdf/infantry2.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui"/>
    
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 0.5 -x 0 -y -0  -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <rosparam file="$(find infantry2)/config/control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/infantry" args="   infantryjoint_state_controller 
                                              xiaotuoluo_position_controller
                                              yuntai_position_controller "/>
                                            
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/cmd_vel"/>
  </node>
  
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find infantry2)/urdf.rviz"/>
</launch>